<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Keybi Museum</title>
    <!-- icono -->
    <link rel="icon" type="image/png" href="../src/img/museum.png"> 
    <link rel="stylesheet" href="../src/CSS/saber.css">
</head>
<body> <!-- Contenido de etiquetas -->
  

    <h1 class="title">KEYBI MUSEUM</h1>

    <button class="button" onclick="location.href='../index.html'"><span>REGRESAR  </span></button>

    <h2 class="subtitle">¡Conoce nuestro museo!</h2>
    
    <p class="information">
       Sumérgete en un mundo digital lleno de arte, historia y maravillas. 
       Explora cada detalle, admira las obras maestras desde todos los 
       ángulos y déjate cautivar por la magia de la tecnología.
       Nuestro museo modelado en 3D ha revolucionado la forma 
       en que experimentamos el arte y la cultura. Su enfoque inmersivo, 
       su libertad de movimiento, su accesibilidad global y su interactividad 
       lo convierten en un destino obligado para los amantes del arte y 
       la curiosidad intelectual. <br> <br>
        ¡Bienvenido a una experiencia virtual única en su clase!</p>

      <div class="image">
        <img
          style="height: 284; width: 427;" src="../src/img/bust-gc22455cef_1280.jpg"
          alt="Interstellar"
        />
        <img
        style="height: 284; width: 427;" src="../src/img/hercules-g3fdef14fb_1280.jpg"
          alt="Interstellar"
        />
        <img
        style="height: 284; width: 427;" src="../src/img/andrew-neel-acowe0pCVBg-unsplash - copia.jpg"
          alt="Interstellar"
        />
      </div>

     



     
        <h6>© 2023 Keybi Museum</h6>
       

</body>
</html> 

